<section class="sub-header">
    <nav>
        <h3 style="font-weight: bolder; color:#6a64f1;">Click Forms</h3>
        <div class="nav-links" id="navlinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index.html"> HOME </a></li>
                <li><a href="about.html"> ABOUT </a></li>
                <li><a href="course.html"> COURSE </a></li>
                <li><a href="blog.html"> BLOG </a></li>
                <li><a href="contact.html"> CONTACT </a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
</section>